* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  user-select: none;
}
body {
  display: flex;
  font-family: "Poppins", sans-serif;
}
body > div {
  margin: 5% auto 0;
  max-width: 720px;
}
.tabs {
  display: flex;
  position: relative;
}
.tabs .line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 6px;
  border-radius: 15px;
  background-color: #c23564;
  transition: all 0.2s ease;
}
.tab-item {
  min-width: 80px;
  padding: 16px 20px 11px 20px;
  font-size: 20px;
  text-align: center;
  color: #c23564;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 5px solid transparent;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.5s ease;
}
.tab-icon {
  font-size: 24px;
  width: 32px;
  position: relative;
  top: 2px;
}
.tab-item:hover {
  opacity: 1;
  background-color: rgba(194, 53, 100, 0.05);
  border-color: rgba(194, 53, 100, 0.1);
}
.tab-item.active {
  opacity: 1;
}
.tab-content {
  padding: 28px 0;
}
.tab-pane {
  color: #333;
  display: none;
  text-align: center;
  margin: auto;
  padding: 10px;
}
.tab-pane.active {
  display: block;
}
.tab-pane h2 {
  font-size: 24px;
  margin-bottom: 8px;
}
a{
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 3.4rem;
}
p{
  margin-top: 15px;
}
.ti-hand-point-right {
  padding: 10px;
  font-size: 3rem;
}
img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
span {
  padding: 0;
  margin: 0;
  color: black;
  font-weight: bold;
  transition: color 0.2s;
  font-size: 3rem;
}
.change-properties {
  color: white;
  text-shadow: 0px 0px 10px rgba(93, 129, 219, 0.51), 0px 0px 15px rgba(93, 129, 219, 0.51), 0px 0px 20px rgba(93, 129, 219, 0.51);
}